
.controlpage-top{
    color: #a76401;
    background: url('../../images/inx_bg.png');
   background-size: 100% 100%;
   height: 300px;
    background-repeat: no-repeat
}
.controlpage-he{
    padding: 20px;
    padding-left: 60px
}
.controlpage-nm{
    font-size: 18px;
    font-weight:bold
}
.controlpage-status{
    text-align: center;
}
.controlpage-division{
    width: 1.5px;
    background: #a76401;
    height:25px;
    display: inline-block;
    margin-top: 4px
}
.controlpage-icon{
    margin-right: 10px
}
.controlpage-huantt{
    font-size: 35px;
    color: white;
    text-align: center;
    margin-top: 20px
}
.controlpage-bot{
    padding: 100px 50px
}
.controlpage-bot-it{
    text-align: center
}
.controlpage-bot-box{
padding-top: 90px;
padding-bottom: 40px;
padding-left: 40px;
padding-right: 40px;
border-radius:10px;
height: 336.58px;
cursor: pointer;
}
.controlpage-bot-box:hover{
    box-shadow: 0px 0px 16px 0px rgba(158, 158, 158, 0.44);
}
.controlpage-boxbg0{
    background: url('../../images/control_yy0.png');
    background-size: 100% 100%
}
.controlpage-boxbg1{
    background: url('../../images/control_yy1.png');
    background-size: 100% 100%
}
.controlpage-boxbg2{
    background: url('../../images/control_yy2.png');
    background-size: 100% 100%
}
.controlpage-boxbg3{
    background: url('../../images/control_yy3.png');
    background-size: 100% 100%
}
.controlpage-boxbg4{
    background: url('../../images/control_yy4.png');
    background-size: 100% 100%
}
.controlpage-bot-dj{
    text-align: center;
    margin-bottom: 45px;
    font-size: 18px;
    color: white;
    font-weight: bold
}
.controlpage-bot-tp{
    text-align: center
}
.controlpage-bot-tp img{
    /* width: 100%; */
    height: 134.59px;
}