.gdsdtl-hd{
    padding: 15px 20px;
}
.gdsdtl-hd-hst{
    float:right;
}
.gdsdtl-body{
    padding: 23px 15px;
}
.gdsdtl-tb{
    width: 100%;
    border: 1px solid rgba(240,239,239,1)
}
.gdsdtl-tb > thead >tr>th{
    font-size:16px;
    font-family:Microsoft YaHei;
    font-weight:bold;
    color:rgba(51,51,51,1);
    padding: 14px  43px;
    background:rgba(249,249,249,1);
    border: 1px solid rgba(240,239,239,1)
}
.gdsdtl-tb > tbody >tr>td{
font-size:16px;
font-family:Microsoft YaHei;
font-weight:bold;
color:rgba(51,51,51,1);
padding: 19px 43px;
border: 1px solid rgba(240,239,239,1)
}
.gdsdtl-btn{
    text-align: center;
    margin-top: 150px;
}