.table-list-row{
    height: 100%;
}
.table-list{
    width: 100%;
    position: relative;
}
.table-list-mainctrl{
    padding: 18px
}
.table-list-add{
    text-align: end
}

.table-list-add .table-list-addbtn{
    color: black;
    width: 88px;
    font-size: 15px
}
.table-list-search{
    width: 200px;
}
.table-list-search .ant-input{
    border-radius: 0;
}

.table-list-search .ant-btn{
    border-radius: 0;
}
.table-list-ms{
    font-weight: bold
}
.table-list-fenline{
    background: #f0f2f5;
    height: 5px;
}
.table-list-row .ant-spin-nested-loading{
    overflow-x: auto
}
.table-list-row .ant-spin-nested-loading::-webkit-scrollbar {
    height: 7px;
  }
  .table-list-row .ant-spin-nested-loading::-webkit-scrollbar-thumb{
    background-color:#fdd000;
  }
.table-list thead th{
padding: 20px;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis
}   
.table-list tr{
    border-bottom: 1px solid #e6e6e6;
}
.table-list tr td{
    padding: 16px 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}
.table-list-page{
    text-align: center;
    position: absolute;
    bottom:40px
}
.table-list-xiugai{
    font-size: 12px;
    color: black;
    height: 25px;
    width: 60px;
}
.table-list-dele{
    font-size: 12px;
    color: black;
    height: 25px;
    width: 60px;
    margin-left: 10px;
    background: #f56047;
    border-color: #f56047
}
.table-list-dele:hover{
    background: #f57d69;
    border-color: #f57d69
}
.table-list-dele:focus{
    background: #f57d69;
    border-color: #f57d69
}
.model-dele{
    width: 430px !important
}
.model-dele .ant-modal-header{
border: none;
}
.model-dele .ant-modal-title{
font-size: 19px !important;
font-weight: bold;
position: relative;
top: 20px
}
.model-dele .ant-modal-body p{
    margin-top: 20px;
    font-size: 15px
}
.model-dele .ant-modal-footer{
    border: none ;
    text-align: center
}
.model-dele .ant-modal-title{
    text-align: center
}
.model-dele .ant-btn{
    height: 40px;
    width: 100px;
    position: relative;
    bottom: 20px
}
.model-dele .ant-btn:nth-of-type(2){
    margin-left: 70px
}
.table-list-payed{
    width:98px;
height:38px;
display: flex;
align-items: center;
justify-content: center;
position: relative;
margin-right: 10px
}
.table-list-payno{
width:98px;
height:38px;
display: flex;
align-items: center;
justify-content: center;
position: relative;
}
.table-list-paystzz{
    position: absolute;
    top: 0;
    left: 0;
    width:98px;
border-radius:19px;
height:38px;
background:rgba(253,209,0,1);
opacity:0.2;
cursor: pointer;
display: flex;
justify-content: center;
align-items: center
}
.table-list-paystzz-ac{
    position: absolute;
    top: 0;
    left: 0;
    width:98px;
border-radius:19px;
height:38px;
background:rgba(253,209,0,1);
cursor: pointer;
display: flex;
justify-content: center;
align-items: center
}
.table-list-payst{
    display: flex;
    justify-content: flex-end
}
.table-list-yarmt input{
border-radius: 0
}
.table-list-xq{
    font-size: 12px;
    color: black;
    height: 25px;
    width: 60px;
    margin-left: 10px;
    background: #3399FF;
    border-color: #3399FF
}
.table-list-xq:hover{
    background: #3399FF;
    border-color: #3399FF
}
.table-list-xiugai-f{
    font-size: 12px;
    color: black;
    height: 25px;
    width: 60px;
    background: #3399FF;
    border: none
}
.table-list-xiugai-f:hover{
    background: #50a2f5
}
.table-list-add{
    font-size: 12px;
    color: black;
    height: 25px;
    width: 80px;
    margin-left: 10px;
}